<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    
    <!-- Navigation header hook -->
   <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex flex-col w-full p-4 pl-6 space-y-4">
            <div class="flex items-center justify-center">
                <img class="w-8" src="assets/images/logo/logo.svg">
            </div>
            <div *ngIf="clinicasForRole.length > 0">
                <mat-form-field appearance="outline" class="w-full fuse-mat-dense clinic-selector">
                    <mat-label>Seleccionar Clínica</mat-label>
                    <mat-select [value]="getSelectedClinicId()" (selectionChange)="onClinicChange($event.value)">
                        <mat-option value="all">Todas</mat-option>
                          <ng-container *ngFor="let group of clinicGroups">
                            <mat-optgroup [label]="group.name">
                                <mat-option *ngIf="group.name !== 'Sin Grupo'" [value]="'group:' + group.name" class="font-semibold">{{ group.name }} (todas)</mat-option>
                                <mat-option *ngFor="let clinica of group.clinics" [value]="clinica.id">
                                    <div class="flex items-center">
                                        <mat-icon [svgIcon]="'heroicons_outline:building-office'" class="mr-2 text-current icon-size-4"></mat-icon>
                                        {{ clinica.name }}
                                    </div>
                                </mat-option>
                            </mat-optgroup>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    
    
    <!-- User -->
    <div class="flex w-full items-center p-4" *ngIf="user">
        <div class="relative h-24 w-24">
            @if (user.avatar) {
                <img
                    class="h-full w-full rounded-full"
                    [src]="user.avatar"
                    alt="User avatar">
            }
            @if (!user.avatar) {
                <div 
                    class="w-full h-full rounded-full bg-blue-500 flex items-center justify-center text-white text-2xl font-bold">
                    {{ getUserInitials() }}
                </div>
            }
        </div>
        <div class="mt-6 flex w-full flex-col items-center justify-center">
            <div
                class="w-full overflow-hidden text-ellipsis whitespace-nowrap text-center font-medium leading-normal">
                {{ user.nombre }} {{ user.apellidos }}
            </div>
            <div
                class="text-secondary mt-0.5 w-full overflow-hidden text-ellipsis whitespace-nowrap text-center text-md leading-normal">
                {{ user.email_usuario }}
            </div>
        </div>
    </div>
    
    <!-- Clinic Selector copied from thin layout -->
   <!-- Navigation footer hook -->
    
        <ng-container fuseVerticalNavigationContentFooter>
        <div class="mb-4 mt-2 flex h-16 flex-0 items-center justify-center pl-2 pr-6 opacity-12">
            <img class="max-w-160" src="assets/images/logo/logo-text-on-dark.svg" />
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">

    <!-- Header -->
    <div
        class="bg-card dark:bg-transparent relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:shadow-none print:hidden md:px-6">
        <!-- Navigation toggle button -->
        <button
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        
        <!-- Role selector in header -->
        <div class="ml-4" *ngIf="availableRoles.length > 0">
            <mat-form-field appearance="outline" class="role-selector">
                <mat-select 
                    [value]="selectedRole" 
                    (selectionChange)="onRoleChange($event.value)"
                    placeholder="Seleccionar rol">
                    <mat-option 
                        *ngFor="let role of availableRoles" 
                        [value]="role">
                        {{ role | titlecase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            <languages></languages>
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <shortcuts></shortcuts>
            <messages></messages>
            <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button>
            <notifications></notifications>
            <user [showAvatar]="false"></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-auto flex-col">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>

    <!-- Footer -->
    <div class="relative z-49 flex h-14 w-full flex-0 items-center justify-start border-t bg-card dark:bg-transparent px-4 print:hidden md:px-6">
        <span class="font-medium text-secondary">Clínica Click &copy; {{currentYear}}</span>
    </div>

</div>

<!-- Quick chat -->
<quick-chat #quickChat="quickChat"></quick-chat>

<style>
.role-selector .mat-mdc-form-field {
    width: 200px;
}

.role-selector .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.clinic-selector .mat-mdc-form-field-subscript-wrapper {
    display: none;
}
</style>

