<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Servicios</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search services'">
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createProduct()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Añadir</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(products$ | async) as products">
                <ng-container *ngIf="products.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <div class="servicios-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                            <div [mat-sort-header]="'nombre_servicio'">Name</div>
                            <div [mat-sort-header]="'categoria_servicio'">Category</div>
                            <div [mat-sort-header]="'iva_servicio'">VAT</div>
                            <div [mat-sort-header]="'precio_servicio'">Price</div>
                            <div></div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngFor="let product of products; trackBy: trackByFn">
                            <div class="servicios-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <!-- Nombre -->
                                <div class="truncate">{{product.nombre_servicio}}</div>
                                <!-- Categoría -->
                                <div>{{product.categoria_servicio}}</div>
                                <!-- IVA -->
                                <div>{{product.iva_servicio}}%</div>
                                <!-- Precio -->
                                <div>{{product.precio_servicio | currency:'EUR':'symbol':'1.2-2'}}</div>
                                <!-- Details button -->
                                <div>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(product.id_servicio)">
                                        <mat-icon class="icon-size-5" [svgIcon]="selectedProduct?.id_servicio === product.id_servicio ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid">
                                <ng-container *ngIf="selectedProduct?.id_servicio === product.id_servicio">
                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length" [pageIndex]="pagination.page" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
                </ng-container>
            </ng-container>
            <ng-template #rowDetailsTemplate let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <form class="flex flex-col w-full" [formGroup]="selectedProductForm">
                            <div class="flex flex-col sm:flex-row p-8">
                                <!-- Detalles del servicio -->
                                <div class="flex flex-auto flex-wrap">
                                    <!-- Nombre y descripción -->
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                        <!-- Nombre -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Name</mat-label>
                                            <input matInput [formControlName]="'nombre_servicio'">
                                        </mat-form-field>
                                        <!-- Descripción -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Description</mat-label>
                                            <textarea matInput [formControlName]="'descripcion_servicio'"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <!-- Precio, IVA y categoría -->
                                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Price</mat-label>
                                            <span matSuffix>€</span>
                                            <input matInput [formControlName]="'precio_servicio'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>IVA</mat-label>
                                            <span matSuffix>%</span>
                                            <input type="number" matInput [formControlName]="'iva_servicio'">
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Category</mat-label>
                                            <mat-select [formControlName]="'categoria_servicio'">
                                                <mat-option value="SEO">SEO</mat-option>
                                                <mat-option value="Redes Sociales">Social Networks</mat-option>
                                                <mat-option value="Gestión publicitaria">Ads gestion</mat-option>
                                                <mat-option value="Inversión publicitaria">Ads invest</mat-option>
                                                <mat-option value="Desarrollo web">Web develop</mat-option>
                                                <mat-option value="Diseño gráfico y cartelería">Graphic Design</mat-option>
                                                <mat-option value="Mentoría">Mentoring</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- Empresa del Servicio -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Business</mat-label>
                                            <mat-select [formControlName]="'empresa_servicio'">
                                                <mat-option value="La voz medios digitales SL">La voz medios digitales SL</mat-option>
                                                <mat-option value="Parallel Campaign OU">Parallel Campaign OU</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button class="-ml-4" mat-button [color]="'warn'" (click)="deleteSelectedProduct()">Delete</button>
                                <div class="flex items-center">
                                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Service updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                                            <span class="ml-2">An error was ocurred, try again</span>
                                        </ng-container>
                                    </div>
                                    <button mat-flat-button [color]="'primary'" (click)="updateSelectedProduct()">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
            <ng-template #noProducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">¡There aren't services!</div>
            </ng-template>
        </div>
    </div>
</div>
