<h2>Crear Paciente</h2>
<form [formGroup]="pacienteForm">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Apellidos</mat-label>
    <input matInput formControlName="apellidos">
  </mat-form-field>
  <div class="flex space-x-2">
    <mat-form-field appearance="fill">
      <mat-label>Prefijo</mat-label>
      <mat-select formControlName="prefijo">
        <mat-option *ngFor="let pre of prefijos" [value]="pre.value">
          {{ pre.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="flex-grow">
      <mat-label>Teléfono móvil</mat-label>
      <input matInput formControlName="telefono_movil">
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni">
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Clínica asociada</mat-label>
    <mat-select formControlName="clinica_id">
      <mat-option *ngFor="let clinic of clinicas" [value]="clinic.id_clinica">
        {{ clinic.nombre_clinica }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="dialog-actions flex justify-end space-x-2 mt-4">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="pacienteForm.invalid" (click)="onSave()">Guardar</button>
  </div>
</form>
