<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12">
        <div class="flex flex-col items-center max-w-80 text-center">
            <div class="font-semibold text-2xl">Plantillas</div>
            <div class="mt-1 text-secondary">Esta funcionalidad estará disponible próximamente.</div>
            <div class="mt-4 text-secondary">Aquí podrás gestionar las plantillas para tus campañas de marketing.</div>
        </div>
    </div>
</div>
